<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vs.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.vs.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="activation_code" property="activationCode" jdbcType="CHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="authority" property="authority" jdbcType="CHAR" />
    <result column="dl" property="dl" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id userId, user_code userCode, user_name userName, user_pwd userPwd, gender gender, class_id classId, activation_code activationCode, times times,
    authority authority, dl dl
  </sql>
  <sql id="Base_Column_List_noAs" >
    user_id, user_code, user_name, user_pwd, gender, class_id, activation_code, times, authority, dl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vs.entity.User" >
    insert into user (user_id, user_code, user_name, 
      user_pwd, gender, class_id, 
      activation_code, times, authority, 
      dl)
    values (#{userId,jdbcType=INTEGER}, #{userCode,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{classId,jdbcType=INTEGER}, 
      #{activationCode,jdbcType=CHAR}, #{times,jdbcType=INTEGER}, #{authority,jdbcType=CHAR}, 
      #{dl,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vs.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="activationCode != null" >
        activation_code,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="authority != null" >
        authority,
      </if>
      <if test="dl != null" >
        dl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="activationCode != null" >
        #{activationCode,jdbcType=CHAR},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=CHAR},
      </if>
      <if test="dl != null" >
        #{dl,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vs.entity.User" >
    update user
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="activationCode != null" >
        activation_code = #{activationCode,jdbcType=CHAR},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="authority != null" >
        authority = #{authority,jdbcType=CHAR},
      </if>
      <if test="dl != null" >
        dl = #{dl,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vs.entity.User" >
    update user
    set user_code = #{userCode,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      class_id = #{classId,jdbcType=INTEGER},
      activation_code = #{activationCode,jdbcType=CHAR},
      times = #{times,jdbcType=INTEGER},
      authority = #{authority,jdbcType=CHAR},
      dl = #{dl,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>