.nav{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #002147;
}
.nav_box{
	
}
.container{
    float: right;
    margin-right: 20px;
}
#userspan{
	height: 16px;
	font-size: 14px;
	width: 300px;
    display: block;
}

.user_info{
	float: right;
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	margin-right: 100px;
	text-align: center;
	cursor: pointer;
	background-color: #002147;
	transition: all .5s;
}
.user_info>span{
	color: #fff;
	font-family: "微软雅黑";
	font-size: 20px;
}
.arrow{
	font-size: 10px;
	margin: 0 5px 0 8px;
	display: block;
	float: right;
	transition: all 0.3s;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg);
}
.user_info:hover .arrow{
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); 	/* Opera */
}
.user_info_box {
	width: 250px;
	height: 0;
	z-index: 99;
	position: relative;
	overflow-y: hidden;
	margin-left: -60px;
	transition: all 0.3s;
}
.user_info:hover .user_info_box{
	height: 320px;
}
.triangle{
	width: 0px;
	height: 0px;
	margin-top: 7px;
	margin-left: 104px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 14px solid#002147;
	z-index: -1 !important;
}
.myIntegralBox {
	width: 235px;
	/*height: 300px;*/
	background-color: #002147;
	float: left;
	margin-top: -5px;
	border-radius: 5px;
}
.myIntegralBoxPage {
	width: 84%;
	/*height: 250px;*/
	margin: 25px auto;
}
.textBox {
	display: block;
	position: relative;
	z-index: 99;
}
.textBox>h3 {
    font-size: 25px;
    margin-bottom: 6px;
    color: #ccc;
}
.textBox>h3>span{
    color: #eeeeee;
    font-size: 14px;
}
.textBox>p {
	margin: 0 0 4px 0;
	color: #ccc;
	height: 30px;
	font-size: 15px;
	z-index: 2 !important;
	line-height: 30px;
	overflow: hidden;
}
.span_h{
    font-size: 20px !important;
    color: #fff !important;
}
.myIntegralBoxPage>a{
	color: #ccc;
	font-size: 16px;
	transition: all 0.3s;
	display: block;
	width: 100%;
    line-height: 40px;
}
.myIntegralBoxPage>a:hover{
    color: #336699;
}
.prompt{
	font-size: 13px;
	color: #E75854;
	cursor: pointer;
	text-indent: 1em;
	width: 80%;
	margin: 10px auto 0 auto;
	letter-spacing: 1px;
}
input::-webkit-input-placeholder { /* WebKit browsers*/
	　　color:#999;font-size:14px;
}
input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
	　　color:#999;font-size:14px;
}
input::-moz-placeholder {  /* Mozilla Firefox 19+*/
	　　color:#999;font-size:14px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+*/
	　　color:#999;font-size:14px;
}
.confirm_hint,.password_hint{
	font-size: 16px;
}
.auto_no{
    margin-left: 3%;
    height: 16px;
    width: 90%;
}
