.nav{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #001934;
}
.nav_box{
	
}
.container{
    float: right;
    margin-right: 20px;
}
#userspan{
	height: 16px;
	font-size: 14px;
	width: 300px;
    display: block;
}
