<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/head.css"/>
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/component.css"/>
		<link rel="stylesheet" type="text/css" href="../css/demo.css"/>
		<link rel="stylesheet" type="text/css" href="../css/content.css"/>
		<script src="../js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="nav">
			<div class="nav_box">
				<div class="container">
					<div class="mockup-content">
						<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
							<button type="button">登录</button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-1">
										<span class="icon icon-close">关闭</span>
										<h2>Login</h2>
										<form id="Stu_login" action="/users/login" method="post">
											<p><label>学号</label><input type="text" name="stu_name"/></p>
											<p><label>密码</label><input type="password" name="stu_pwd"/></p>
											<p><button onclick="login()">登录</button></p>
										</form>
									</div>
								</div>
							</div>
						</div><!-- morph-button -->
						<strong class="joiner">or</strong>
						<div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
							<button type="button">注册</button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-2">
										<span class="icon icon-close">关闭</span>
										<h2>注册</h2>
										<form>
											<p><label>账号:</label><input type="text" /></p>
                                            <p><label>学生姓名:</label><input type="text" /></p>
                                            <p><label>激活码</label><input type="text" /></p>
											<p><label>密码:</label><input type="password" /></p>
											<p><label>确认密码</label><input type="password" /></p>
											<p><button>注册</button></p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- /container -->
		<script src="../js/classie.js"></script>
		<script src="../js/uiMorphingButton_fixed.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>
            function login() {
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/users/login" ,//url
                    data: $('#Stu_login').serialize(),
                    success: function (result) {
                        alert("111");
                        console.log(result);//打印服务端返回的数据(调试用)
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                        }
                        ;
                    },
                    error : function() {
                        alert("异常！");
                    }
                });
            }
			(function() {
				var docElem = window.document.documentElement, didScroll, scrollPosition;

				// trick to prevent scrolling when opening/closing button
				function noScrollFn() {
					window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
				}

				function noScroll() {
					window.removeEventListener( 'scroll', scrollHandler );
					window.addEventListener( 'scroll', noScrollFn );
				}

				function scrollFn() {
					window.addEventListener( 'scroll', scrollHandler );
				}

				function canScroll() {
					window.removeEventListener( 'scroll', noScrollFn );
					scrollFn();
				}

				function scrollHandler() {
					if( !didScroll ) {
						didScroll = true;
						setTimeout( function() { scrollPage(); }, 60 );
					}
				};

				function scrollPage() {
					scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
					didScroll = false;
				};

				scrollFn();

				[].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
					new UIMorphingButton( bttn, {
						closeEl : '.icon-close',
						onBeforeOpen : function() {
							// don't allow to scroll
							noScroll();
						},
						onAfterOpen : function() {
							// can scroll again
							canScroll();
						},
						onBeforeClose : function() {
							// don't allow to scroll
							noScroll();
						},
						onAfterClose : function() {
							// can scroll again
							canScroll();
						}
					} );
				} );

				// for demo purposes only
				[].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) { 
					bttn.addEventListener( 'click', function( ev ) { ev.preventDefault(); } );
				} );
			})();
		</script>
	</body>
</html>
