<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<html>
	<head>
		<meta charset="utf-8" />
		<title>可视化学生数据管理系统</title>

	</head>
	<body>
        <div th:include="head.html"></div>
		<!--导航条-->
		<div class="top_bottom">
			<div class="mainNav">
				<div class="content">
					<ul class="mainNavList">
						<li class="dropdown">
							<a href="kd_survey.html">中心介绍</a>
							<ul>
								<li>
									<a href="javascript:;">组织机构</a>
								</li>
								<li>
									<a href="javascript:;">中心概况</a>
								</li>
								<li>
									<a href="javascript:;">管理体制</a>
								</li>
								<li>
									<a href="javascript:;">中心特色</a>
								</li>
								<li>
									<a href="javascript:;">中心负责人</a>
								</li>
								<li>
									<a href="javascript:;">中心成员</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">实验指导</a>
							<ul>
								<li>
									<a href="javascript:;">理论力学</a>
								</li>
								<li>
									<a href="javascript:;">材料力学</a>
								</li>
								<li>
									<a href="javascript:;">流体力学</a>
								</li>
								<li>
									<a href="javascript:;">工程力学</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">设备与环境</a>
							<ul>
								<li>
									<a href="javascript:;">实验设备</a>
								</li>
								<li>
									<a href="javascript:;">设备管理</a>
								</li>
								<li>
									<a href="javascript:;">设备清单</a>
								</li>
								<li>
									<a href="javascript:;">设备使用</a>
								</li>
								<li>
									<a href="javascript:;">教学环境</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">实验教学</a>
							<ul>
								<li>
									<a href="javascript:;">网上选课</a>
								</li>
								<li>
									<a href="javascript:;">实验预约</a>
								</li>
								<li>
									<a href="javascript:;">学生评教</a>
								</li>
								<li>
									<a href="javascript:;">实验创新</a>
								</li>
								<li>
									<a href="javascript:;">实验开放</a>
								</li>
								<li>
									<a href="javascript:;">规划与计划</a>
								</li>
								<li>
									<a href="javascript:;">教学改革</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">常用课件</a>
							<ul>
								<li>
									<a href="javascript:;">材料力学课件</a>
								</li>
								<li>
									<a href="javascript:;">理论力学课件</a>
								</li>
								<li>
									<a href="javascript:;">流体力学课件</a>
								</li>
								<li>
									<a href="javascript:;">工程力学课件</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">规章制度</a>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">成果展示</a>
							<ul>
								<li>
									<a href="javascript:;">教学项目</a>
								</li>
								<li>
									<a href="javascript:;">教学论文</a>
								</li>
								<li>
									<a href="javascript:;">教学获奖</a>
								</li>
								<li>
									<a href="javascript:;">实验教材</a>
								</li>
								<li>
									<a href="javascript:;">精品课程</a>
								</li>
								<li>
									<a href="javascript:;">科研成果</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">在线考试</a>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">对外服务</a>
						</li>
						<li class="dropdown">
							<a href="kd_survey.html">联系我们</a>

						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class='o-sliderContainer' id="pbSliderWrap0" style="margin-top:0;">
			<div class='o-slider' id='pbSlider0'>
				<div class="o-slider--item" data-image="../img/5.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">学校近期事件公布</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">力学学院贯彻党的十八届六中全会精神专题辅导</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
					</div>
				</div>
				<div class="o-slider--item" data-image="../img/6.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">This is a title</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">This is a sub title</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph </p>
					</div>
				</div>
				<div class="o-slider--item" data-image="../img/1.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">This is a title</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">This is a sub title</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph </p>
					</div>
				</div>
				<div class="o-slider--item" data-image="../img/2.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">This is a title</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">This is a sub title</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph </p>
					</div>
				</div>
				<div class="o-slider--item" data-image="../img/3.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">This is a title</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">This is a sub title</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph </p>
					</div>
				</div>
				<div class="o-slider--item" data-image="../img/4.jpg">
					<div class="o-slider-textWrap">
						<h1 class="o-slider-title">This is a title</h1>
						<span class="a-divider"></span>
						<h2 class="o-slider-subTitle">This is a sub title</h2>
						<span class="a-divider"></span>
						<p class="o-slider-paragraph">This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph This is a sub paragraph </p>
					</div>
				</div>
			</div>
		</div>

		<div style="clear:both;"></div>
		</div>

		<!--网页中间部分-->
		<div class="top_news">
			<div class="top_news_box">
				<div class="title">
					<h5><span class="iconfont">&#xe60f;</span>头条新闻</h5>
					<a href="#"><p>MORE<span class="iconfont">&#xe60d;</span></p></a>
				</div>
				<ul>
					<li>
						<div class="new_time">
							<p class="month">7月</p>
							<p class="date">18</p>
						</div>
						<div class="new_details">
							<h2> 爆炸科学与技术国家重点实验室高密度储氢材料、柔性复... </h2>
							<p>2017年6月14日上午，由北京理工大学技术转移中心和长沙市科学技术局联合主办的“北京理工大学长沙军民融合科技成果推介会”在湖南长沙举行。北京理工大学常务副校长杨宾、湖南...</p>
						</div>
					</li>
					<li>
						<div class="new_time">
							<p class="month">7月</p>
							<p class="date">18</p>
						</div>
						<div class="new_details">
							<h2> 爆炸科学与技术国家重点实验室高密度储氢材料、柔性复... </h2>
							<p>2017年6月14日上午，由北京理工大学技术转移中心和长沙市科学技术局联合主办的“北京理工大学长沙军民融合科技成果推介会”在湖南长沙举行。北京理工大学常务副校长杨宾、湖南...</p>
						</div>
					</li>
					<li>
						<div class="new_time">
							<p class="month">7月</p>
							<p class="date">18</p>
						</div>
						<div class="new_details">
							<h2> 爆炸科学与技术国家重点实验室高密度储氢材料、柔性复... </h2>
							<p>2017年6月14日上午，由北京理工大学技术转移中心和长沙市科学技术局联合主办的“北京理工大学长沙军民融合科技成果推介会”在湖南长沙举行。北京理工大学常务副校长杨宾、湖南...</p>
						</div>
					</li>
					<div class="clearfix">

					</div>
				</ul>
			</div>

		</div>

		<div class="notice_meet">
			<div class="notice_meet_box">
				<div class="notice">
					<div class="title_two">
						<h5><span class="iconfont">&#xe610;</span>最新通知</h5>
						<a href="#"><p>MORE<span class="iconfont">&#xe60d;</span></p></a>
						<div class="clearfix">

						</div>
					</div>
					<ul>
						<li>
							<div class="notice_left">
								<h5>18</h5>
								<p>07月</p>
							</div>
							<div class="notice_right">
								<p>爆炸科学与技术国家重点实验室山东研究基地2017年科研专项基...</p>
							</div>
						</li>
						<li>
							<div class="notice_left">
								<h5>18</h5>
								<p>07月</p>
							</div>
							<div class="notice_right">
								<p>爆炸科学与技术国家重点实验室山东研究基地2017年科研专项基...</p>
							</div>
						</li>
						<li>
							<div class="notice_left">
								<h5>18</h5>
								<p>07月</p>
							</div>
							<div class="notice_right">
								<p>爆炸科学与技术国家重点实验室山东研究基地2017年科研专项基...</p>
							</div>
						</li>
						<li>
							<div class="notice_left">
								<h5>18</h5>
								<p>07月</p>
							</div>
							<div class="notice_right">
								<p>爆炸科学与技术国家重点实验室山东研究基地2017年科研专项基...</p>
							</div>
						</li>
						<li>
							<div class="notice_left">
								<h5>18</h5>
								<p>07月</p>
							</div>
							<div class="notice_right">
								<p>爆炸科学与技术国家重点实验室山东研究基地2017年科研专项基...</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="xueshu">
					<div class="title_two">
						<h5><span class="iconfont">&#xe609;</span>学术预告</h5>
						<a href="#"><p>MORE<span class="iconfont">&#xe60d;</span></p></a>
						<div class="clearfix">

						</div>
					</div>

					<div class="xueshu_box">
						<h5>等离子喷涂高能激光防护涂层材料研究</h5>
						<div class="adress_time">
							<p><span class="iconfont">&#xe615;</span>时间：2017年6月29日下午14：00</p>
							<p><span class="iconfont">&#xe608;</span>地点：爆炸科学与技术国家重点实验室二楼会议室 </p>
						</div>
						<p>薛云飞，博士，副教授/博导。2013入选北京高等学校“青年英才计划”。2013.2～7，美国Michigan大学安娜堡分校访问学者。长期从事非晶合金、高熵合金及其复合材料的应变率相关力学行为研究，研究领域涉及材料设计、制备及性能表征等。</p>
					</div>
				</div>
				<div class="meet">
					<div class="title_two">
						<h5><span class="iconfont">&#xe603;</span>学术会议</h5>
						<a href="#"><p>MORE<span class="iconfont">&#xe60d;</span></p></a>
						<div class="clearfix">

						</div>
					</div>
					<div class="meet_box">
						<img src="img/2.jpg"/>
						<ul>
							<li>
								<a href="#">第九届全国强动载效应及防护学术会议...</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">爆炸与冲击动力学发展战略研讨会在京...</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">爆炸科学与技术国家重点实验室第五届...</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">强动载及其效应国际研讨会顺利召开</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">爆炸与冲击动力学发展战略研讨会在京...</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">爆炸科学与技术国家重点实验室第五届...</a>
								<span>07/18</span>
							</li>
							<li>
								<a href="#">第九届全国强动载效应及防护学术会议...</a>
								<span>07/18</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix">

				</div>
			</div>
		</div>

		<div class="learning">
			<div class="learning_box">
				<div class="title">
					<h5><span class="iconfont">&#xe607;</span>科研学术动态</h5>
					<a href="#"><p>MORE<span class="iconfont">&#xe60d;</span></p></a>
				</div>
				<ul>
					<li class="one">
						<img src="img/3.jpg"/>
						<h3> <a href="#">欧洲科学院院士Rolf K. Eckhoff...</a> </h3>
						<p>017年5月2日-4日，应北京理工大学爆炸科学与技术国家重点实验室的邀请，挪威卑尔根大学Rolf K. Eckhoff院士到北理工进行学术访问，并分别做了题为“...</p>
					</li>
					<li class="two">
						<h3> <a href="#"> 澳大利亚郝洪院士访问北京理工大学 </a> </h3>
						<p>2017年4月19日，应北京理工大学爆炸科学与技术国家重点实验室的邀请，澳大利亚郝洪院士来我校进行学术访问，并做了题为“Experimental and Numerical Study of Composite Structural Panels Subjected to Windborne Debris Impact...</p>
					</li>
					<li class="three">
						<h3> <a href="#">国际多物理场学会主席Mojtaba Moat...</a> </h3>
						<p>2017年3月30日至4月14日，应北京理工大学爆炸科学与技术国家重点实验室的邀请，国际多物理场学会主席、多物理场国际期刊主编Mojtaba Moatamedi教授到我校进行学术访问和交流，并带来了题为“Modelling Challenges in Explosions”和“ Multiphysics and In...</p>
					</li>
					<div class="clearfix">

					</div>
				</ul>
			</div>
		</div>




		<!--页脚部分-->
		<div class="footer">
			<div class="footer_top">
				<div class="footer_top_box">
					<div class="footer_logo_top">

					</div>
					<div class="footer_top_left">
						<ul>
							<li><span class="iconfont">&#xe606;</span>办公电话：&nbsp;0351-8888888</li>
							<li><span class="iconfont">&#xe606;</span>招办电话：&nbsp;0351-8888888</li>
							<li><span class="iconfont">&#xe609;</span>传真号码：&nbsp;0351-8888888</li>
						</ul>
					</div>
					<div class="footer_logo">

					</div>
					<div class="footer_top_right">
						<ul>
							<li><span class="iconfont">&#xe605;</span>邮编：&nbsp;030600</li>
							<li><span class="iconfont">&#xe60a;</span>邮箱:&nbsp;tyut@tyut.edu.cn</li>
							<li><span class="iconfont">&#xe608;</span>地址:&nbsp;山西省太原市市万柏林区</li>
						</ul>
					</div>
					<div class="clearfix">

					</div>

					<div class="clearfix">

					</div>
				</div>
				<div class="footer_top_bottom">
					<p>友情链接：<a href="#">人民网</a><a href="#">新华网</a><a href="#">中国知网</a><a href="#">教育部</a><a href="#">山西省教育厅</a></p>
				</div>

				<div class="clearfix">

				</div>
			</div>
			<div class="footer_bottom">
				<p>非经营性互联网信息服务审批号　晋ICP备15009101号-1 版权所有 ©太原理工</p>
				<p>站长统计 | 今日IP[<span>1084</span>] | 今日PV[<span>2816</span>] | 昨日IP[<span>8888</span>] | 昨日PV[<span>444</span>] | 当前在线[<span>42</span>]</p>
				<h3>晋公网安备 14070202000016号</h3>
			</div>
		</div>
		<!--返回顶部按钮-->
		<a href="javascript:;" id="back-top" class="iconfont">&#xe601;</a>

        <script>
            $('#pbSlider0').pbTouchSlider({
                slider_Wrap: '#pbSliderWrap0',
                slider_Threshold: 10,
                slider_Speed:600,
                slider_Ease:'ease-out',
                slider_Drag : true,
                slider_Arrows: {
                    enabled : true
                },
                slider_Dots: {
                    class :'.o-slider-pagination',
                    enabled : true,
                    preview : false
                },
                slider_Breakpoints: {
                    default: {
                        height: 400
                    },
                    tablet: {
                        height: 350,
                        media: 1024
                    },
                    smartphone: {
                        height: 250,
                        media: 768
                    }
                }
            });

        </script>
        <script type="text/javascript">

            $(function(){

                $( '#dl-menu' ).dlmenu();

            });

        </script>
	</body>
</html>
