<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" type="text/css" href="../css/user_style.css" />
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />
</head>
<body>
<div th:include="head.html"></div>
<div id="wrapper">
    <div id="left-side">
        <ul>
            <li class="choose active">
                <div class="icon active">
                    <i class="iconfont" style="font-size: 20px;">&#xe614;</i>
                </div>
                <span>所有人员信息</span>
            </li>
            <li class="pay">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe60f;</i>
                </div>
                <span>新增人员</span>
            </li>
            <li class="wrap">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe611;</i>
                </div>
                <span>查看所有无效人员</span>
            </li>
            <li class="ship">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe612;</i>
                </div>
                <span>个人信息</span>
            </li>
        </ul>
    </div>

    <div id="border">
        <div id="line" class="one"></div>
    </div>

    <div id="right-side">
        <div id="first" class="active">
            <div style="margin-top: 50px;">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="border-bottom: 0px">
                    <li role="presentation" class="active"><a href="#student" aria-controls="home" role="tab" data-toggle="tab">学生</a></li>
                    <li role="presentation"><a href="#teacher" aria-controls="profile" role="tab" data-toggle="tab">老师</a></li>
                    <li role="presentation"><a href="#parents" aria-controls="messages" role="tab" data-toggle="tab">家长</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="student">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto;">
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>班级</th>
                                <th>激活码</th>
                                <th  style="text-align: center">次数</th>
                                <th>操作</th>
                            </tr>
                            <tr th:each="StudentInfo:${Student}">
                                <td th:text="${StudentInfo.userCode}"></td>
                                <td th:text="${StudentInfo.userName}"></td>
                                <td th:if="${StudentInfo.gender == '1'}">男</td>
                                <td th:if="${StudentInfo.gender == '2'}">女</td>
                                <td th:text="${StudentInfo.className}"></td>
                                <td th:text="${StudentInfo.activationCode}"></td>
                                <td th:text="${StudentInfo.times}" style="text-align: center"></td>
                                <td>
                                    <a style="cursor: pointer" th:onclick="'javascript:toclickinvalid(\''+${StudentInfo.userCode}+'\',\'1\');'">无效化</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="teacher">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto">
                            <tr>
                                <th>工号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>班级</th>
                                <th>操作</th>
                            </tr>
                            <tr th:each="teachInfo:${teach}">
                                <td th:text="${teachInfo.userCode}"></td>
                                <td th:text="${teachInfo.userName}"></td>
                                <td th:if="${teachInfo.gender == '1'}">男</td>
                                <td th:if="${teachInfo.gender == '2'}">女</td>
                                <td th:text="${teachInfo.className}"></td>
                                <td>
                                    <a style="cursor: pointer" th:onclick="'javascript:toclickinvalid(\''+${teachInfo.userCode}+'\',\'2\');'">无效化</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="parents">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto">
                            <tr>
                                <th>账号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>操作</th>
                            </tr>
                            <tr th:each="preantsInfo:${preants}">
                                <td th:text="${preantsInfo.userCode}"></td>
                                <td th:text="${preantsInfo.userName}+'的父母'"></td>
                                <td th:if="${preantsInfo.gender == '1'}">男</td>
                                <td th:if="${preantsInfo.gender == '2'}">女</td>
                                <td>
                                    <a style="cursor: pointer" th:onclick="'javascript:toclickinvalid(\''+${preantsInfo.userCode}+'\',\'3\');'">无效化</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div id="second">
            <form class="form-inline" id="createUser" style="margin-top: 50px">
                <div class="form-group">
                    <div class="input-group" style="width: 400px; margin:10px 0">
                        <div class="input-group-addon">姓名</div>
                        <input type="text" name="userName" class="form-control" id="exampleInputAmount" placeholder="2-4个中文">
                    </div>
                    <div class="input-group" style="width: 280px; margin:10px 0">
                        <div class="input-group-addon">班级</div>
                        <div class="Select_box">
                            <select class="subject_select  form-control" name="classId"  onchange='examChangeAllscore(this[selectedIndex].value);'>
                                <th:block th:each="class : ${userClasses}">
                                    <option th:value="${class.classId}" th:text="${class.className}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="input-group" style="width: 200px; margin:10px 0">
                        <div class="input-group-addon">性别</div>
                        <div class="Select_box">
                            <select class="subject_select  form-control" name="gender">
                                    <option th:value="1">男</option>
                                    <option th:value="2">女</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group" style="width: 200px; margin:10px 0">
                        <div class="input-group-addon">用户</div>
                        <div class="Select_box">
                            <select class="subject_select  form-control" name="authority">
                                <option th:value="1">学生</option>
                                <option th:value="2">老师</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-default" style="width: 120px; margin: 0 auto;" onclick="createUser()">确认新增</button>
                </div>
            </form>
        </div>
        <div id="third">
            <div style="margin-top: 50px;">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="border-bottom: 0px">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">学生</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">老师</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">家长</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto;">
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>班级</th>
                            </tr>
                            <tr th:each="InvalidStudentInfo:${InvalidStudent}">
                                <td th:text="${InvalidStudentInfo.userCode}"></td>
                                <td th:text="${InvalidStudentInfo.userName}"></td>
                                <td th:if="${InvalidStudentInfo.gender == '1'}">男</td>
                                <td th:if="${InvalidStudentInfo.gender == '2'}">女</td>
                                <td th:text="${InvalidStudentInfo.className}"></td>
                            </tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto">
                            <tr>
                                <th>工号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>班级</th>
                            </tr>
                            <tr th:each="InvalidTeacherInfo:${InvalidTeacher}">
                                <td th:text="${InvalidTeacherInfo.userCode}"></td>
                                <td th:text="${InvalidTeacherInfo.userName}"></td>
                                <td th:if="${InvalidTeacherInfo.gender == '1'}">男</td>
                                <td th:if="${InvalidTeacherInfo.gender == '2'}">女</td>
                                <td th:text="${InvalidTeacherInfo.className}"></td>
                            </tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <table class="table table-striped" style="width: 700px; margin: 0 auto">
                            <tr>
                                <th>账号</th>
                                <th>姓名</th>
                                <th>性别</th>
                            </tr>
                            <tr th:each="InvalidParentsInfo:${InvalidParents}">
                                <td th:text="${InvalidParentsInfo.userCode}"></td>
                                <td th:text="${InvalidParentsInfo.userName}+'的父母'"></td>
                                <td th:if="${InvalidParentsInfo.gender == '1'}">男</td>
                                <td th:if="${InvalidParentsInfo.gender == '2'}">女</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="fourth">
            <ul>
                <li>姓名 :
                    <span th:text="${user.userName}"></span>
                    <span th:if="${user.authority == '4'}">   同学的家长</span>
                </li>
                <li>账号 :
                    <span th:text="${user.userCode}"></span>
                </li>
                <li>性别 :
                    <span th:if="${user.gender == '1'}">男</span>
                    <span th:if="${user.gender == '2'}">女</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../js/echarts.min.js"></script>
<script src="../js/StudentEacher.js"></script>
<script src="../js/StudentInfo.js"></script>
<script type="text/javascript">
    function toclickinvalid(userCode,userAuthority){
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/cancelUser',
            data: {'userCode':userCode},
            success: function (result) {
                var json = eval("("+result+")");
                toastr.success(json.msg);
                if (json.success){
                    if (userAuthority == '1'){
                        $('#student').load(location.href+" #student");
                        $('#parents').load(location.href+" #parents");
                        $('#home').load(location.href+" #home");
                        $('#messages').load(location.href+" #messages");
                    } else if (userAuthority == '2'){
                        $('#profile').load(location.href+" #profile");
                        $('#teacher').load(location.href+" #teacher");
                    } else {
                        $('#student').load(location.href+" #student");
                        $('#parents').load(location.href+" #parents");
                        $('#messages').load(location.href+" #messages");
                    }
                } else {
                    toastr.error(json.msg);
                }
            },
            error:function () {
                toastr.error("网络延迟较大，请重试");
            }
        });
    }
    
    function createUser() {
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/createUser',
            data: $('#createUser').serialize(),
            success: function (result) {
                var json = eval("("+result+")");
                toastr.success(json.msg);
                if (json.success){
                    if (userAuthority == '1'){
                        $('#student').load(location.href+" #student");
                    } else if (userAuthority == '2'){
                        $('#teacher').load(location.href+" #teacher");
                    }
                } else {
                    toastr.error(json.msg);
                }
            },
            error:function () {
                toastr.error("网络延迟较大，请重试");
            }
        });
    }
</script>

</body>
</html>