<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" type="text/css" href="../css/user_style.css" />
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />

</head>
<body>
<div th:include="head.html"></div>
<div id="wrapper">
    <div id="left-side">
        <ul>
            <li class="choose active">
                <div class="icon active">
                    <i class="iconfont" style="font-size: 20px;">&#xe614;</i>
                </div>
                <span>修改学生信息</span>
            </li>
            <li class="pay">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe60f;</i>
                </div>
                <span>查看学生详情</span>
            </li>
            <li class="wrap">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe611;</i>
                </div>
                <span>班级内学生成绩</span>
            </li>
            <li class="ship">
                <div class="icon">
                    <i class="iconfont" style="font-size: 20px;">&#xe612;</i>
                </div>
                <span>个人信息</span>
            </li>
        </ul>
    </div>

    <div id="border">
        <div id="line" class="one"></div>
    </div>

    <div id="right-side">
        <div id="first" class="active">
            <div class="Student_list">
                <span>*只能修改最后一场考试信息</span>
                <table class="table table-striped">
                    <tr>
                        <th>姓名</th>
                        <th:block  th:each="subject : ${subjectList}">
                            <th th:text="${subject.subjectName}"></th>
                        </th:block>
                        <th>操作</th>
                    </tr>
                    <tr th:each="examScore : ${examAllScoreResultList.listmap}">
                        <td th:text="${examScore.key.userName}"></td>
                        <th:block th:each="score : ${examScore.value}">
                            <td th:if="${score.value} != 0" th:text="${score.value}"></td>
                            <td th:if="${score.value} == 0">-</td>
                        </th:block>
                        <td><a style="cursor: pointer" th:onclick="'javascript:toclick(\''+${examScore.key}+'\',\''+${examScore.key.userId}+'\');'">修改</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="second">
            <div style="width: 220px;height: 50px">
                <div class="Select_box">
                    <select class="subject_select  form-control" id="exam_select" onchange='examChange(this[selectedIndex].value);'>
                        <th:block th:each="exam : ${examList}">
                            <option th:value="${exam.examId}" th:text="${exam.examName}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="Select_box">
                    <select class="student_select  form-control" id="student_select" style="margin-left: 20px; outline: none" onchange="StudentChange(this[selectedIndex].value);">
                        <th:block th:each="student : ${studentList}">
                            <option th:value="${student.userId}" th:text="${student.userName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div id="StudentSubjectScore" style="width: 750px;height:400px;"></div>
        </div>
        <div id="third">
            <div class="Select_box">
                <select class="subject_select  form-control" id="exam_all_select" onchange='examChangeAllscore(this[selectedIndex].value);'>
                    <th:block th:each="exam : ${examList}">
                        <option th:value="${exam.examId}" th:text="${exam.examName}"></option>
                    </th:block>
                </select>
            </div>
            <div id="StudentTotalScore" style="width: 750px;height:400px;"></div>
        </div>
        <div id="fourth">
            <ul>
                <li>姓名 :
                    <span th:text="${user.userName}"></span>
                    <span th:if="${user.authority == '1'}">   学生</span>
                    <span th:if="${user.authority == '2'}">   老师</span>
                    <span th:if="${user.authority == '4'}">   同学的家长</span>
                </li>
                <li>学号 :
                    <span th:text="${user.userCode}"></span>
                </li>
                <li th:if="${user.authority == '1'}">老师 :
                    <span th:text="${user.teachName}"></span>
                </li>
                <li th:if="${user.authority != '4'}">班级 :
                    <span th:text="${user.className}"></span>
                </li>
                <li>性别 :
                    <span th:if="${user.gender == '1'}">男</span>
                    <span th:if="${user.gender == '2'}">女</span>
                </li>
                <li th:if="${user.authority == '1'}">激活码 :
                    <span th:text="${user.activationCode}"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改成绩</h4>
                </div>
                <div class="modal-body">
                    <form id="changeScore">
                        <div class="form-group">
                            <label for="txt_math">数学</label>
                            <input type="text" name="math" class="form-control" id="txt_math" placeholder="数学成绩">
                            <span class="math_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_chinese">语文</label>
                            <input type="text" name="chinese" class="form-control" id="txt_chinese" placeholder="语文成绩">
                            <span class="chinese_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_english">英语</label>
                            <input type="text" name="english" class="form-control" id="txt_english" placeholder="英语成绩">
                            <span class="english_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_physical">物理</label>
                            <input type="text" name="physical" class="form-control" id="txt_physical" placeholder="物理成绩">
                            <span class="physical_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_chemistry">化学</label>
                            <input type="text" name="chemistry" class="form-control" id="txt_chemistry" placeholder="化学成绩">
                            <span class="chemistry_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_biology">生物</label>
                            <input type="text" name="biology" class="form-control" id="txt_biology" placeholder="生物成绩">
                            <span class="biology_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_geography">地理</label>
                            <input type="text" name="geography" class="form-control" id="txt_geography" placeholder="地理成绩">
                            <span class="geography_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_history">历史</label>
                            <input type="text" name="history" class="form-control" id="txt_history" placeholder="历史成绩">
                            <span class="history_hint hint"></span>
                        </div>
                        <div class="form-group">
                            <label for="txt_politics">政治</label>
                            <input type="text" name="politics" class="form-control" id="txt_politics" placeholder="政治成绩">
                            <span class="politics_hint hint"></span>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="cencerChangeScore()">取消</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" onclick="changeScore()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/echarts.min.js"></script>
<script src="../js/StudentEacher.js"></script>
<script src="../js/StudentInfo.js"></script>
<script src="../js/checkAddScore.js"></script>
<script type="text/javascript" th:inline="javascript">
    var className = [[${user.className}]];

    var StudentAllScoreECharts = echarts.init(document.getElementById('StudentTotalScore'));
    var StudentTotalScoreDate = [[${examAllScoreResultList.integerList}]];
    var StudentAllScoreTitle = [[${examAllScoreResultList.title}]];
    var StudentTotalScoreMin = [[${examAllScoreResultList.min}]];
    var StudentAllName = [[${examAllScoreResultList.stringList}]];
    examAllScoreInit(StudentAllScoreECharts,StudentAllScoreTitle,className,StudentAllName,StudentTotalScoreDate,StudentTotalScoreMin);

    var StudentExamScoreECharts = echarts.init(document.getElementById('StudentSubjectScore'));
    var StudentSubject = [[${examResultList.stringList}]];
    var StudentExamTitle = [[${examResultList.title}]];
    var StudentExamMapDate = [[${examResultList.mapList}]];
    var ExamSubTitle = [[${examResultList.username}]] + "    总分 : " + [[${examResultList.sunScore}]];
    examScoreInit(StudentExamScoreECharts,StudentExamTitle,ExamSubTitle,StudentSubject,StudentExamMapDate);
</script>
<script type="text/javascript" th:inline="javascript">
    var StudentSubjectScoreEcharts = echarts.init(document.getElementById('StudentSubjectScore'));
    var StudentAllScoreECharts = echarts.init(document.getElementById('StudentTotalScore'));
    var userName = [[${user.userName}]];
    var className = [[${user.className}]];

    function subjectChange(selectValue){
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/findScoreBySubject',
            data: {'selectValue':selectValue},
            success: function (result) {
                var json = eval("("+result+")");
                var StudentSubjectTitle = json.title;
                var studentSubjectScore = json.integerList;
                var SubjectScoreMin = json.min;
                var examDate = json.stringList;
                studentInit(StudentSubjectScoreEcharts,StudentSubjectTitle,userName,examDate,studentSubjectScore,SubjectScoreMin);
            },
            error:function () {
                alert("网络延迟较大，请重试");
            }
        });
    }

    function examChange(selectValue) {
        var studentId = $('option:selected', '#student_select').val();
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/findScoreByExamAndStudent',
            data: {'selectValue':selectValue,"studentId":studentId},
            success: function (result) {
                var json = eval("("+result+")");
                var StudentSubjectTitle = json.title;
                var StudentExamMapDate = json.mapList;
                var SubjectScoreMin = json.min;
                var ExamSubTitle = json.username + "    总分 : " + json.sunScore;
                var StudentSubject = json.stringList;
                examScoreInit(StudentExamScoreECharts,StudentSubjectTitle,ExamSubTitle,StudentSubject,StudentExamMapDate,SubjectScoreMin);
            },
            error:function () {
                alert("网络延迟较大，请重试");
            }
        });
    }

    function StudentChange(selectValue) {
        var examId = $('option:selected', '#exam_select').val();
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/findScoreByStudentAndExam',
            data: {'selectValue':selectValue,"examId":examId},
            success: function (result) {
                var json = eval("("+result+")");
                var StudentSubjectTitle = json.title;
                var StudentExamMapDate = json.mapList;
                var SubjectScoreMin = json.min;
                var ExamSubTitle = json.username + "    总分 : " + json.sunScore;
                var StudentSubject = json.stringList;
                examScoreInit(StudentExamScoreECharts,StudentSubjectTitle,ExamSubTitle,StudentSubject,StudentExamMapDate,SubjectScoreMin);
            },
            error:function () {
                alert("网络延迟较大，请重试");
            }
        });
    }


    function examChangeAllscore(selectValue) {
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/findAllScoreByExam',
            data: {'selectValue':selectValue},
            success: function (result) {
                var json = eval("("+result+")");
                var StudentTotalScoreDate = json.integerList;
                var StudentAllScoreTitle = json.title;
                var StudentTotalScoreMin = json.min;
                var StudentAllName = json.stringList;
                examAllScoreInit(StudentAllScoreECharts,StudentAllScoreTitle,className,StudentAllName,StudentTotalScoreDate,StudentTotalScoreMin);
            },
            error:function () {
                alert("网络延迟较大，请重试");
            }
        });
    }
    
    function examChangeAllStudent(selectValue) {
        $.ajax({
            type: 'post',
            dataType: "text",
            url: '/findAllScoreByExam',
            data: {'selectValue':selectValue},
            success: function (result) {
                var json = eval("("+result+")");

            },
            error:function () {
                alert("网络延迟较大，请重试");
            }
        });
    }

    function toclick(Student,studentId) {
        var Map = [[${examAllScoreResultList.listmap}]];
        var studentScore = Map[Student];
        $("#myModalLabel").text("修改成绩");
        $('#myModal').modal();
        $('#txt_math').attr('placeholder', '原分数:' + studentScore[0].value);
        $('#txt_chinese').attr('placeholder', '原分数:' + studentScore[1].value);
        $('#txt_english').attr('placeholder', '原分数:' + studentScore[2].value);
        $('#txt_physical').attr('placeholder', '原分数:' + studentScore[3].value);
        $('#txt_chemistry').attr('placeholder', '原分数:' + studentScore[4].value);
        $('#txt_biology').attr('placeholder', '原分数:' + studentScore[5].value);
        $('#txt_geography').attr('placeholder', '原分数:' + studentScore[6].value);
        $('#txt_history').attr('placeholder', '原分数:' + studentScore[7].value);
        $('#txt_politics').attr('placeholder', '原分数:' + studentScore[8].value);
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/addUserIdToSession",
            data: {"StudentId":studentId},
        });
    }
</script>
</body>
</html>