<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" type="text/css" href="../css/user_style.css" />
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />
</head>
<body>
    <div th:include="head.html"></div>
    <div id="wrapper">
        <div id="left-side">
            <ul>
                <li class="choose active">
                    <div class="icon active">
                        <i class="iconfont" style="font-size: 20px;">&#xe614;</i>
                    </div>
                    <span>总分</span>
                </li>
                <li class="pay">
                    <div class="icon">
                        <i class="iconfont" style="font-size: 20px;">&#xe60f;</i>
                    </div>
                    <span>科目</span>
                </li>
                <li class="wrap">
                    <div class="icon">
                        <i class="iconfont" style="font-size: 20px;">&#xe611;</i>
                    </div>
                    <span>考试</span>
                </li>
                <li class="ship">
                    <div class="icon">
                        <i class="iconfont" style="font-size: 20px;">&#xe612;</i>
                    </div>
                    <span>个人信息</span>
                </li>
            </ul>
        </div>

        <div id="border">
            <div id="line" class="one"></div>
        </div>

        <div id="right-side">
            <div id="first" class="active">
                <div id="StudentTotalScore" style="width: 750px;height:400px;"></div>
            </div>
            <div id="second">
                <div style="width: 100px">
                    <select class="subject_select form-control"  onchange='subjectChange(this[selectedIndex].value);'>
                        <th:block th:each="subject : ${subjectList}">
                            <option th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
                        </th:block>
                    </select>
                </div>
                <div id="StudentSubjectScore" style="width: 750px;height:400px;"></div>
            </div>
            <div id="third">
                <div style="width: 100px">
                    <select class="subject_select form-control" onchange='examChange(this[selectedIndex].value);'>
                        <th:block th:each="exam : ${examList}">
                            <option th:value="${exam.examId}" th:text="${exam.examName}"></option>
                        </th:block>
                    </select>
                </div>
                <div id="examScore" style="width: 750px;height: 400px;"></div>
            </div>
            <div id="fourth">
                <ul>
                    <li>姓名 :
                        <span th:text="${user.userName}"></span>
                        <span th:if="${user.authority == '1'}">   学生</span>
                        <span th:if="${user.authority == '2'}">   老师</span>
                        <span th:if="${user.authority == '4'}">   同学的家长</span>
                    </li>
                    <li>学号 :
                        <span th:text="${user.userCode}"></span>
                    </li>
                    <li th:if="${user.authority == '1'}">老师 :
                        <span th:text="${user.teachName}"></span>
                    </li>
                    <li th:if="${user.authority != '4'}">班级 :
                        <span th:text="${user.className}"></span>
                    </li>
                    <li>性别 :
                        <span th:if="${user.gender == '1'}">男</span>
                        <span th:if="${user.gender == '2'}">女</span>
                    </li>
                    <li th:if="${user.authority == '1'}">激活码 :
                        <span th:text="${user.activationCode}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../js/echarts.min.js"></script>
    <script src="../js/StudentEacher.js"></script>
    <script src="../js/StudentInfo.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var userName = [[${user.userName}]];
        var examDate = [[${totalResultList.stringList}]];

        var StudentTotalScoreECharts = echarts.init(document.getElementById('StudentTotalScore'));
        var StudentTotalScoreDate = [[${totalResultList.integerList}]];
        var StudentTotalScoreTitle = [[${totalResultList.title}]];
        var StudentTotalScoreMin = [[${totalResultList.min}]];
        studentInit(StudentTotalScoreECharts,StudentTotalScoreTitle,userName,examDate,StudentTotalScoreDate,StudentTotalScoreMin);

        var StudentSubjectScoreECharts = echarts.init(document.getElementById('StudentSubjectScore'));
        var StudentSubjectTitle = [[${subjectResultList.title}]];
        var studentSubjectScore = [[${subjectResultList.integerList}]];
        var SubjectScoreMin = [[${subjectResultList.min}]];
        studentInit(StudentSubjectScoreECharts,StudentSubjectTitle,userName,examDate,studentSubjectScore,SubjectScoreMin);

        var StudentExamScoreECharts = echarts.init(document.getElementById('examScore'));
        var StudentSubject = [[${examResultList.stringList}]];
        var StudentExamTitle = [[${examResultList.title}]];
        var StudentExamMapDate = [[${examResultList.mapList}]];
        var ExamSubTitle = userName + "    总分 : " + [[${examResultList.sunScore}]];
        examScoreInit(StudentExamScoreECharts,StudentExamTitle,ExamSubTitle,StudentSubject,StudentExamMapDate);
    </script>
    <script type="text/javascript" th:inline="javascript">
        var StudentSubjectScoreEcharts = echarts.init(document.getElementById('StudentSubjectScore'));
        var StudentExamScoreECharts = echarts.init(document.getElementById('examScore'));
        var userName = [[${user.userName}]];
        function subjectChange(selectValue){
            $.ajax({
                type: 'post',
                dataType: "text",
                url: '/findScoreBySubject',
                data: {'selectValue':selectValue},
                success: function (result) {
                    var json = eval("("+result+")");
                    var StudentSubjectTitle = json.title;
                    var studentSubjectScore = json.integerList;
                    var SubjectScoreMin = json.min;
                    var examDate = json.stringList;
                    studentInit(StudentSubjectScoreEcharts,StudentSubjectTitle,userName,examDate,studentSubjectScore,SubjectScoreMin);
                },
                error:function () {
                    alert("网络延迟较大，请重试");
                }
            });
        }
        function examChange(selectValue) {
            $.ajax({
                type: 'post',
                dataType: "text",
                url: '/findScoreByExam',
                data: {'selectValue':selectValue},
                success: function (result) {
                    var json = eval("("+result+")");
                    var StudentSubjectTitle = json.title;
                    var StudentExamMapDate = json.mapList;
                    var SubjectScoreMin = json.min;
                    var ExamSubTitle = userName + "    总分 : " + json.sunScore;
                    var StudentSubject = json.stringList;
                    examScoreInit(StudentExamScoreECharts,StudentSubjectTitle,ExamSubTitle,StudentSubject,StudentExamMapDate,SubjectScoreMin);
                },
                error:function () {
                    alert("网络延迟较大，请重试");
                }
            });
        }
    </script>
</body>
</html>